*{
    margin:0px;
    padding:0px;
}
#daum-container{
    border:1px solid red;
    width:1180px;
    height:500px;
    /* margin-left:auto;
    margin-right:auto; */
    margin:0 auto;
}
#youtube-container{
    border:1px solid green;
    width:auto;
    height:500px;
    margin:0 40px;
}