.a{
    border:1px solid red;
    padding:30px;
    background-color: aquamarine;
    width:calc(700px + 100px);
    height:calc(80px*10);
    background-image: url("../img/dog.jpg");
    background-repeat: no-repeat;
    /* background-position: -100px -200px; */
    background-position: calc(100% - 100px) 100%;
    background-size: 50% 50%;
}
.b{
    border: 1px solid blue;
    height: 800px;
    background: pink url(../img/dog.jpg) no-repeat 50% 50% / auto 100%;
    background-attachment: fixed;
}
.c{
    border:1px solid green;
    height:800px;
    background: lime url(../img/dog.jpg) no-repeat 50% 50% / contain;
    background-blend-mode: multiply;
}
.d{
    border:1px solid coral;
    height:800px;
    background:
    url(../img/dog.jpg) no-repeat 0% 50% / auto auto,
    url(../img/dog.jpg) no-repeat 50% 50% / contain,
    url(../img/dog.jpg) no-repeat 100% 50% / auto 100px;
}
.e{
    border: 1px solid orange;
    height:800px;
    background:linear-gradient(30deg,red 20%,blue,green 80%)
}