html{
    font-size:30px;
}
h1,h2,h3,h4,h5,h6{
    font-size: inherit;
}
.box{
    font-size:50px;
}
.box h1{font-size:2em;}
.box h2{font-size:2rem;}

.ex1{
    font-weight: 400;
}
.ex2{
    line-height: 1.5;
}
.ex3{
    font-style: italic;
}
address{
    font-style: normal;
}
.ex4{
    letter-spacing: 50px;
}
.ex5{
    word-spacing: 50px;
}
.ex6{
    /* white-space: nowrap; */
    /* 줄바꿈 되는 것 wrap, 줄바꿈 안되는 것 nowrap*/
    /* white-space: pre; */
    white-space: pre-wrap;
    /* 엔터 치면 아래로 내려가게 나옴 */
}
.ex7{
    text-indent: 100px;
    /* text-indent 문단의 첫 줄 들여쓰기 */
}
.ex8{
    text-decoration: underline;
    /* td라고 써도 나옴, 밑줄 스타일 들어감 */
    text-decoration: line-through;
    /* 라인이 관통, 취소선 스타일 */
}
a{
    text-decoration: initial;
}
.ex9{
    border:1px solid red;
    text-align: justify;
    /* text-align: center 컨텐트 박스 안에서 가운데 정렬됨
    text-align: justify 박스 안에 양쪽 정렬 
    단어가 안깨지는 선에서 줄바꿈이 된다. */
    width:600px;
    word-break: keep-all;
    /* break-all 단어 다 깨짐
       keep-all 단어 안깨짐. 유지하는 것 */
}
.ex10{
    text-transform: uppercase;
    /* uupercase 전부 대문자가 됨 */
    text-transform: lowercase;
    /* lowercase 전부 소문자로 나옴 */
    text-transform: capitalize;
    /* capitalize 단어 앞부분만 대문자가 됨 */
}
.ex11{
    font-size: 40px;
}
.ex11 b{
    font-size: 0.5em;
    vertical-align: middle;
    /* 글자기준 top 위정렬, bottome 아래정렬, middle 가운데정렬*/
    /* 20px = 1rem */
}