/* .a{
    border:1px solid black;
    width:calc(1500px);
    height:calc(250px);
    background-image: url(../img/sub_vis01_02.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.b{
    font-size: 30px;
    padding-left: 300px;
}
.c{
    font-size: 52px;
    color: green;
    padding-left: 300px;
    padding-right: 3cap;
    padding-top: 50px;
    vertical-align: middle;    
}
.box{
    font-size: 35px;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 30px;
}
.box2{
    font-size: 35px;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 20px;
}
.box3{
    font-size: 35px;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 20px;
} */
 *{
    margin:0;
    padding:0;
 }
 @font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}
@font-face {
    font-family: "풀무원";
    src: url(../font/PulmuoneLOHASBold.woff);
}
.pul{
    font-family: "풀무원";
}
html{
    font-family: 'Pretendard',sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.banner{
    height: 250px;
    margin-bottom: 50px;
    background: url(../img/sub_vis01_02.jpg) no-repeat 50% 50% /cover;
}
main{
    width:1200px;
    margin:0 auto;
}
main h1{
    margin-bottom: 100px;
    font-weight:400px;
    font-size:30px;
    background: url(../img/sub_tit_line.gif) repeat-x 0 50%;
}
main h1 span{
    background: #fff;
    padding-right: 30px;
}
main h2{
    font-size: 52px;
    text-align: center;
    padding:0 70px;
    margin-bottom: 50px;
}
main h2 em{
    font-style: initial; 
    /* normal도 됨 */
    color:#7EAE4B;
}
.content{
    border:1px solid red;
    width:810px;
    box-sizing:border-box;
    padding:40px 90px 50px;
    margin:0 auto;
    text-align: center;
}
.content h3{
    font-size: 35px;
    margin-bottom: 25px;
}
.content h3+p{
    margin-bottom: 30px;
}
.content p:nth-of-type(1){}